target/
**/target/
*.jar
*.war

.idea/
.vscode/
*.iml
.claude/

**/node_modules/
**/__pycache__/
*.log
postgres_data/
es_data/
prometheus_data/
grafana_data/

docker-compose.yml
filebeat.yml
prometheus/
grafana/

.git/
.gitignore
.gitattributes
README.md
*.md

.DS_Store
Thumbs.db
